<section *ngIf="device" class="device-details-page-container">
    <div class="header-with-button">
        <h1>{{device.name}}</h1>
        <button mat-stroked-button color="primary" (click)="fetchDeviceDetails()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>

    <div>
        <h2>Device details</h2>
        <p>
            Device state:
            <span matTooltip="{{statusTooltipText}}" matTooltipPosition="right"
                  class="state-text" [ngClass]="'state-text-' + device.state.toLowerCase()">{{device.state}}</span>
        </p>
        <p>
            Device creation timestamp:
            <span class="created-at-text">
                {{device.createdAt | date: 'dd MMM yyyy, HH:mm:ss'}}
            </span>
        </p>
        <p>
            Channel id:
            <button mat-stroked-button color="primary" (click)="fetchAndCopyChannelId()">
                <mat-icon>file_copy</mat-icon>
                Copy channel id to clipboard
            </button>
        </p>
    </div>
    <div *ngIf="device.parameters && device.parameters.length > 0">
        <hr />
        <h2>Parameters</h2>
        <p>
            This device has {{device.parameters.length}} parameters.
            <button mat-stroked-button color="primary" (click)="openEditParametersDialog()">
                <mat-icon>edit_note</mat-icon> Edit
            </button>
        </p>

        <div *ngFor="let parameter of device.parameters">
            <h4>{{parameter.name}}</h4>
            <p>Anchor: {{parameter.anchor}}</p>
            <div *ngIf="parametersData.get(parameter.id)?.length">
                <span>Snapshots:</span>
                <ul>
                    <li *ngFor="let snapshot of parametersData.get(parameter.id)">
                        {{snapshot.timestamp}}: {{snapshot.value}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="deviceCommands.length || device.state === 'ACTIVE'">
        <hr />
        <div class="header-with-button">
            <h2>Commands</h2>
            <button (click)="openPostCommandComponent()" mat-stroked-button color="primary">
                <mat-icon>play_arrow</mat-icon>
                Post command
            </button>
        </div>
        <div *ngIf="deviceCommands?.length">
            <ul>
                <li *ngFor="let command of deviceCommands">
                    {{command.commandId}}: content: "{{command.content}}", sent at {{command.sentAt}},
                    ackStatus: {{command.ackStatus}}
                    <span *ngIf="command.acknowledgedAt">, acknowledgedAt: {{command.acknowledgedAt}}</span>
                </li>
            </ul>
        </div>
    </div>
</section>