<section *ngIf="device">
    <span *ngIf="displaySuccessfulCreation" style="color: green">Successfully created new device.</span>
    <h1>{{device.name}}</h1>

    <div>
        <h3>Device details</h3>
        <p>Device state: {{device.state}}</p>
        <p>Device creation timestamp: {{device.createdAt}}</p>
        <p>
            Channel id: <button (click)="fetchAndCopyChannelId()">Copy to clipboard</button>
        </p>
    </div>
    <div *ngIf="device.parameters && device.parameters.length > 0">
        <h3>Parameters</h3>
        <p>This device has {{device.parameters.length}} parameters</p>

        <div *ngFor="let parameter of device.parameters">
            <h4>{{parameter.name}}</h4>
            <p>Anchor: {{parameter.anchor}}</p>
            <div *ngIf="parametersData.get(parameter.id)?.length">
                <span>Snapshots:</span>
                <ul>
                    <li *ngFor="let snapshot of parametersData.get(parameter.id)">
                        {{snapshot.timestamp}}: {{snapshot.value}}
                    </li>
                </ul>
            </div>
            <hr />
        </div>
    </div>
    <div *ngIf="deviceCommands.length || device.state === 'ACTIVE'">
        <h3>Commands</h3>
        <div>
            <div *ngIf="!creatingNewCommand">
                <button (click)="openNewCommandComponent()">New command</button>
            </div>
            <div *ngIf="creatingNewCommand">
                <app-send-command (send)="postNewCommand($event)" (cancel)="onCancelNewCommand()"></app-send-command>
            </div>
        </div>
        <div *ngIf="deviceCommands?.length">
            <ul>
                <li *ngFor="let command of deviceCommands">
                    {{command.commandId}}: content: "{{command.content}}", sent at {{command.sentAt}},
                    ackStatus: {{command.ackStatus}}
                    <span *ngIf="command.acknowledgedAt">, acknowledgedAt: {{command.acknowledgedAt}}</span>
                </li>
            </ul>
        </div>
    </div>
</section>