<section *ngIf="device" class="device-details-page-container">
    <div class="device-title">
        <h1>{{device.name}}</h1>
        <button class="reload-button" mat-stroked-button color="primary" (click)="reloadPage()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>

    <div>
        <h2>Device details</h2>
        <p>
            Device state:
            <span matTooltip="{{statusTooltipText}}" matTooltipPosition="right"
                  class="state-text" [ngClass]="'state-text-' + device.state.toLowerCase()">{{device.state}}</span>
        </p>
        <p>
            Device creation timestamp:
            <span class="created-at-text">
                {{device.createdAt | date: 'dd MMM yyyy, HH:mm:ss'}}
            </span>
        </p>
        <p>
            Channel id:
            <button mat-stroked-button color="primary" (click)="fetchAndCopyChannelId()">
                <mat-icon>file_copy</mat-icon>
                Copy channel id to clipboard
            </button>
        </p>
    </div>
    <div *ngIf="device.parameters && device.parameters.length > 0">
        <hr />
        <h2>Parameters</h2>
        <p>This device has {{device.parameters.length}} parameters</p>

        <div *ngFor="let parameter of device.parameters">
            <h4>{{parameter.name}}</h4>
            <p>Anchor: {{parameter.anchor}}</p>
            <div *ngIf="parametersData.get(parameter.id)?.length">
                <span>Snapshots:</span>
                <ul>
                    <li *ngFor="let snapshot of parametersData.get(parameter.id)">
                        {{snapshot.timestamp}}: {{snapshot.value}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="deviceCommands.length || device.state === 'ACTIVE'">
        <hr />
        <h2>Commands</h2>
        <div>
            <div *ngIf="!creatingNewCommand">
                <button (click)="openNewCommandComponent()">New command</button>
            </div>
            <div *ngIf="creatingNewCommand">
                <app-send-command (send)="postNewCommand($event)" (cancel)="onCancelNewCommand()"></app-send-command>
            </div>
        </div>
        <div *ngIf="deviceCommands?.length">
            <ul>
                <li *ngFor="let command of deviceCommands">
                    {{command.commandId}}: content: "{{command.content}}", sent at {{command.sentAt}},
                    ackStatus: {{command.ackStatus}}
                    <span *ngIf="command.acknowledgedAt">, acknowledgedAt: {{command.acknowledgedAt}}</span>
                </li>
            </ul>
        </div>
    </div>
</section>