.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.device-card-container {
    margin-top: 1vh;
    width: 50vw;
}

.device-card {
    margin-top: 5px;
    background-color: rgba(63, 81, 181, 0.35);
}

.actions-spacer {
    flex: 1 1 auto;
}
